
<div class="center jumbotron">
  <h1>Welcome Afridi Builders (Pvt) Ltd homepage</h1>
  <p>We build with perfection</p>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
