$navbar-default-bg: #ffcc33;


@import "bootstrap-sprockets";

@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #333333;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-wight: bold;
}
#logo:hover {
    color: #fff;
	text-decoration: none;	
}
.center {
	text-align: center;
}
.jumbotron {
	background-image: asset-url('india.jpg');
	background-size: cover;
	height: 550px;
}
.jumbotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}
.jumbotron p {
	color: #fff;
	text-align: center;
	
	
}
.btn-xlarge {
	font-size: 1.7em;
	background-color: #333333;
}

footer a:hoover {
	color: #222;
	
}
footer small {
	float: right;
	list-style: none;
}