<div class ="container">
	<footer class= "footer">
		<small>
			copyright &copy; <a href="http://www.afridibuilders.com"> Deep foundations and strong structures </a>
		</small>
	</nav>
</footer
</div>
				